// https://brand.berkeley.edu/colors/
$berkeley-blue: #003262;
$founders-rock: #3b7ea1;
$california-gold: #fdb515;
$medalist: #c4820e;
$stone-pine: #584f29; // Outside football field
$soybean: #859438; // Football field

$blue: $berkeley-blue;
$cyan: $founders-rock;
$yellow: $california-gold;

$primary: $blue;

// Import Bulma's core for all Vue components to use
@import "~bulma/sass/utilities/_all";
